@page
@using Application.Contracts.RecipeIngredientContracts;
@model Recipe.Pages.CreateRecipeModel
@{
    Layout = "Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-success mb-3">
                <div class="card-header bg-success text-white">Create a new account</div>
                <div class="card-body">
                    <form id="registerForm" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <label asp-for="recipe.Title">Title</label>
                            <input asp-for="recipe.Title" class="form-control" aria-required="true" placeholder="Title" />
                            <span asp-validation-for="recipe.Title" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <label asp-for="recipe.Description">Description</label>
                            <input type="text" asp-for="recipe.Description" class="form-control" placeholder="Description" />
                            <span asp-validation-for="recipe.Description" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <label asp-for="recipe.Instructions">Instructions</label>
                            <input type="text" asp-for="recipe.Instructions" class="form-control" placeholder="Instructions" />
                            <span asp-validation-for="recipe.Instructions" class="text-danger"></span>
                        </div> 
                        <div class="form-floating mb-3">
                            <label asp-for="recipe.Image">Choose an image for the food</label>
                            <input type="image" name="recipeImage" asp-for="recipe.Image" class="form-control" />
                            <span asp-validation-for="recipe.Image" class="text-danger"></span>
                        </div>
                        @*<div id="ingredients-container" class="form-floating mb-3">
                            <div class="ingredient-row">
                            <div class="ingredient-row">
                                    @{
                                        var ing = new CreateIngredientCommand();
                                    }
                                    <input asp-for="@ing.IngredientName" placeholder="Ingredient">
                                    <input asp-for="@ing.Quantity" placeholder="Quantity">
                                    @{
                                        Model.ingredients.Add(ing);
                                    }
                                </div>
                            </div>
                        </div>*@

                       @* <!-- Button to add more ingredient rows -->
                        <button type="button" id="add-ingredient">Add Ingredient</button>
                        <script>
                            document.getElementById("add-ingredient").addEventListener("click", function () {
                                // Create input fields for a new ingredient
                                var ingredientRow = document.createElement("div");
                                ingredientRow.classList.add("ingredient-row");
                                ingredientRow.innerHTML = `
                                        <input type="text" name="ingredientName" placeholder="Ingredient">
                                        <input type="number" name="quantity" placeholder="Quantity">
                                    `;

                                // Add the new ingredient row to the container
                                var ingredientsContainer = document.getElementById("ingredients-container");
                                ingredientsContainer.appendChild(ingredientRow);
                            });
                        </script>*@
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-success">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>