@page
@model Recipe.Pages.UserRecipesModel
@{
}
<center><h1>Your recipes</h1></center>
@if (Model.recipes != null)
{
    foreach (var recipe in Model.recipes)
    {
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-best-receipe-area mb-30">
                <img src="~/@recipe.Image" alt="food-image">
                <div class="receipe-content">
                    <a asp-page="RecipeDetail" asp-route-recipeId="@recipe.Id">
                        <h5>@recipe.Title</h5>
                    </a>
                </div>
            </div>
        </div>
    }
}else{
    <h2>Nothing to demonstrate :)</h2>
}